body{
    display: flex;
    flex-direction: column;
    margin: 0px;
}

/* ----------------------------------------------------- */

.header{
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    justify-content: space-between;
    height: 40px;
    padding: 20px 0;
    border-bottom: 1px black solid;
}

    .logo-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 40px;
        color: white;
    }

    .logo-pic{
        display: flex;
        justify-content: center;
        height: 70px;
        width: auto;
        padding: 5px;
    }

    .logo-sign{
        display: flex;
        justify-content: center;
        text-align: center;
        font-style: italic;
        font-size: 40px;
        
    }

    .header-list{
        padding: 0 250px;
        color: white;
    }

        .header-list ul{
            display: flex;
            flex-direction: row;
            gap: 20px;
            list-style: none;
        }

/* ----------------------------------------------------- */

.body{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}

 
    .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 30px 350px;
        gap: 10px;
    }

    .container-sign{
        display: flex;
        flex-direction: column;
    }

    .container-sign h1, 
    .container-sign h3, 
    .container-sign p{
        color: rgb(255, 255, 255);
    }

    .container-sign h1{
        font-size: 45px;
        font-weight: bold;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-bottom: 0;
    }
 
    .container-sign h3{
        margin-top: 0px;
        font-style: italic;
    }

    .container-sign h1,
    .container-sign h3{
        position: relative;
        top: -40px;

    }

    .container-sign p{
       padding-right: 150px;
    }

    .container-img img{
        height: auto;
        width: 325px;
        border-radius: 10%;
    }